#nav *, #nav *:before, #nav *:after
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	/*font-family: sans, dejavu-sans-book;*/
}

#nav
{
	position: block;
	top: 0; left: 0;
	width: 100%;
	height: 26px;
	margin-bottom: 10px;
	background: #676767;
	opacity: 1.0;
	/*border: 1px solid rgba(0,0,0,.1);*/
	/*box-shadow: 0 5px 5px rgba(0,0,0,0.26);*/
	border-radius: 2px;
}

#nav .logo
{
	margin: -5px;
}

#nav .text
{
	width: 150px;
	background: #676767;
	border: none;
	margin-top: 5px;
	color: #fff;
	border-bottom: 1px solid #fff;
	font-size: 15px;
}

#nav ul
{
	list-style: none;
	position: relative;
	float: right;
	margin-right: 10%;
	display: inline-table;
}

#nav ul li
{
	float: left;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

#nav ul li:hover{background: rgba(0,0,0,.15);}
#nav ul li:hover > ul{display: block;}

#nav ul li a
{
	display: block;
	padding: 5px 20px;
	color: #fff; 
	font-size: .8em;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
}

#nav ul ul
{
   display: none;
   background: #676767;
   position: absolute; 
   top: 100%;
   /*box-shadow: 0 5px 5px rgba(0,0,0,0.26);*/
   border: 1px solid rgba(0,0,0,.1);
}

#nav ul ul li{float: none; position: relative;}

#nav ul ul li a 
{
   padding: 5px 30px; 
   border-bottom: 1px solid rgba(0,0,0,.05);
}

#nav ul ul ul 
{
   position: absolute; 
   left: 100%; top:0;
}

#nav ul li img{padding-top: 2px; width: 12px;}
