body
{
	background-image: url("../images/back.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/***content container***/
@media screen and (max-width: 1080px){#content{width: 50%;}} /*fix for 1920x1080 screens*/

#content
{
	width: 70%;
	margin: 0 auto;
	padding-top: 10px; 
	background: #fff;
	padding: 10px;
	border: 2px solid #fff;
	border-radius: 3px;
}
#content a{color: #777; text-decoration: none; transition: .2s;}
#content a:hover{color: #FFAB3E; }

@media screen and (max-width: 800px){#header{padding-top: 5%;}} /*fix for 800x600 screens*/

#header{font-size: 2em; color: #FFAB3E; padding-bottom: 10px;}
#header .small{font-size: 0.4em; color: #909090;}

#h1m1
{
	font-size: 1.5em; 
	color: #000; 
	padding-top: 20px;
	padding-bottom: 10px;
}

p, #list { text-align: justify; line-height: 1.5em; }

.indent{ text-indent: 20px; }
.quote{ border-left: 2px solid #FF0000; padding-left: 8px; }

/***footer***/
#footer 
{
	background: #676767; color: #fff;
	text-align: center;
	margin-top: 10px;
}

#footer a{color: #333; text-decoration: none;}
#footer a:hover{color: #fff;}

/*****************************/
.center{text-align: center;}
.right {text-align: right;}
/*elastic images -- makes images resize, when screen small*/
.center img {max-width: 100%; height: auto; width: auto\9; /* ie8 */}
.center iframe {max-width: 100%; padding-top: 100px; padding-bottom: 200px;}
.resize{width: 50%; height: auto;}
.smallimg {width: 20%; height: auto;}
.left{width: 80%;}
table ul{list-style: none; padding-left: 0; margin-top: -10px; line-height: 1.5em;}
#messageform{display: none;}

#buttons /*buttons container*/
{
	margin: 0 auto; 
	width: 70%;
}

#button
{
	background-color: #ffab3e;
	border-top: 4px solid #ffab3e;
	border-bottom: 4px solid #BC6A00;
	border-radius: 2px;
	padding: 10px;
	color: #000;
	box-shadow: 1px 4px 16px 0px rgba(255,231,112,0.54);
	margin: 0 auto;
   width: 200px; 
}

#button:hover
{
	background-color: #FFB935;
	border-top: 4px solid #FFB935;
	border-bottom: 4px solid #BC8400;
	cursor: pointer;
}

/* Flaired edges, by Tomas Theunissen */ 
 hr 
 { 
	overflow: visible; /* For IE */ 
	padding: 0; 
	border: none; 
	border-top: medium double #333; 
	color: #333; text-align: center; 
} 

hr:after 
{ 
	font-family: "Daedric";
	content: "K"; 
	display: inline-block; 
	position: relative; 
	top: -0.7em; 
	font-size: 1.5em; 
	padding: 0 0.25em; 
	background: white; 
}
