.center{text-align: center;}
.center img {max-width: 100%; height: auto; width: auto\9; /* ie8 */}
.resize{width: 50%; height: auto;}

@media screen and (max-width: 800px){#header{padding-top: 5%;}} /*fix for 800x600 screens*/

#header{font-family: "Alanesiana"; font-size: 2em; color: #FFAB3E; padding-bottom: 10px;}
#header .small{font-size: 1em; color: #909090;}

/***footer***/
#footer 
{
	background: #676767; color: #fff;
	text-align: center;
	margin-top: 10px;
}

#footer a{color: #333; text-decoration: none;}
#footer a:hover{color: #fff;}

#small { font-size: 0.6em; }
