#terminal
{ 
	background: #2d2d2d; 
	padding-left: 8px; 
	color: #fff;
	border 2px solid #2d2d2d;
	border-radius: 5px;
	padding: 10px;
}

/*#terminal
{ 
	background: #2d2d2d;
	color: #fff;
	border-radius: 2px;
}

#terminal li
{
	padding-left: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
}

#terminal ul
{
	margin-left: -5px;
	list-style-type: decimal;
}

#terminal ul > li:nth-of-type(odd)
{
	background-color: #484848;
}

#terminal ul > li:nth-of-type(even)
{
	background-color: #3A3A3A;
}

#terminal .controls
{
	background: #2d2d2d;
	height: 5px;
	text-align: right;
	padding-right: 10px;
	padding-top: 4px;
}*/

#gitlab
{
	width: 8%;
	position: fixed;
	padding: 0 auto;
	margin-top: 40px;
	opacity: 0.2;
	transition: .5s;
}

#gitlab:hover
{
	border: 0px solid #fff;
	border-radius: 40px;
	background: white;
	opacity: 1;
}

#gitlab img
{
	width: 70%; 
	height: auto;
}

/* Tooltip container */
.tooltip 
{
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext 
{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    
    transition: .2s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext 
{
    visibility: visible;
    margin-top: 5px;
}

#avatar_vk
{
	margin: 0px;
   padding: 0px;
}

#avatar_vk table
{
	width:100%;
	height:100%;
}

#avatar_vk td
{
	padding-left: 100px;
	padding-right: 100px;
}

#avatar_vk img
{
	width: 70px;
	height: 70px;
	object-fit: cover;
	border: 4px solid white;
	border-radius: 50%;
}

#avatar_vk td
{
	border-bottom: 2px solid white;
}

#avatar_vk img:hover
{
	/*border: 4px solid #FFAB3E;*/
}

#avatar_vk .small
{
	font-size: 0.7em;
}

#blockimg
{
	margin-top: 40px;
	display: flex;
	align-items: center;
	text-align: justify;
}

#blockimg .title
{
	font-size: 1.4em;
	color: #FFAB3E;
}

#blockimg.cell
{
	display: table-cell;
}

#blockimg img
{
	margin-left: 10px;
	border-radius: 5px;
}

.ileft
{
	margin-right: 10px;
}

.tright
{
	text-align: right;
}
