input
{
	background: #fff;
	border: none;
	border-bottom: 1px solid #909090;
	color: black;
	font-size: 15px;
}

input:hover, input:focus
{
	border-bottom: 1px solid #FFAB3E;
}

.search
{
	font-size: 15px;
}

ul li
{
	
}
